/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: white;
}

body > header,
body > div,
body > section,
body > footer {
    width: 800px;
    margin: auto;
}

body > .page > header {
    position: fixed;
    background-color: black;
    height: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
}

#title > h1 {
    margin: 0px;
    padding: 0px;
}

#title {
    height: 35px;
    margin: 15px 50px 0px;
}

.navigation {
   display: block;
   margin: 5 auto;
   padding: 0px;
   width: 900px;
}

.navigation > li {
   display: inline-block;
   margin: 0px;
   padding: 0px;
   border: 1px solid white;
    background-color: black;
}

.navigation > li > a,
.navigation > li > span {
   display: block;
   padding: 5px 5px;
   margin: 0px;
   text-align: center;
   color: #D0D0D0;
   text-decoration: none;
}

.navigation > li.active > a,
.navigation > li.active > span {
    color: #EFEF00
}

.navigation > li > a:hover {
   color: #FFFFFF;
}

.navigation > li > .navigation {
   display: none;
   position: absolute;
}

.navigation > li:hover > .navigation,
.navigation > li > .navigation:hover {
   display: block;
    width: 200px;
}

.navigation > li > .navigation > li {
   display: block;
   margin: 0px;
}

section > .navigation {
    float: left;
    width: 200px;
    margin-left: -225px;
}

section > .navigation > li {
    display: block;
}