<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mvc Navigation</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Mvc Navigation Tests</h1>
            </div>
            <div id="main-nav">
                @Html.Partial("_MvcNavigation", "MainNav")
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
